
body {
    background-color:white;
    text-align: center
}

a.brand-logo{
    font-family: 'Lobster', cursive;
    margin-left:10px;
}


#root {
    min-height: 70vh;
}
 nav{
    background-color: #FF6e08;
 }

 footer.page-footer.example {
    background-color: #FF6e08;
 }

 .card .card-image img{
    width: 200px;
    display: block;
    margin: 0 auto;  
   
}

nav.brand-logo{
    padding-left:10px;
}

