body {
    background-color: white;
    text-align: center;
    display: flex;
    height: 100%;
    flex-direction: column;
}

a.brand-logo {
    font-family: "Lobster", cursive;
    margin-left: 10px;
}

#root {
    min-height: 70vh;
}

nav {
    background-color: #ff6e08;
}

footer.page-footer.example {
    background-color: #ff6e08;
    width: 100%;
}

nav.brand-logo {
    padding-left: 10px;
}

main {
    flex: 1 0 auto;
}